/* dimensions are mainly choosen from the design file that is given ie where padding margin etc are mentioned.
 */
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  color: aqua;
  background-color: azure;
}

.nav-el {
  display: flex;
  background-color: #21222a;
  align-items: center;
  padding: 30px 20px;
  margin-bottom: 0;
}
.nav-items {
  list-style: none;
  display: flex;
}

.nav-logo {
  height: 150px;
}
.nav-items > li {
  background-color: #21222a;
  font-weight: bolder;
  margin: 1rem;
  color: white;
  padding: 30px;
  width: 100px;
}

.nav-el > h3 {
  font-weight: bolder;
  margin-right: auto;
  color: #00d8ff;
  margin-left: 10px;
  font-size: 50px;
}
.main,
h1 {
  background-color: coral;
  margin-top: 0;
}

/* for making those colored bullet marks. */
li::marker {
  font-size: 1.4rem;
  color: aqua;
}

.main {
  background-image: url(./images/reactjs-icon\ 2.png);
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 90%;
  background-blend-mode: color;
}
