* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  max-width: 40rem;
}

/* this is included because in safari browser there was bug which led to expansion of logo. */

.nav--logo {
  max-width: 100px;
}

.Hero--body {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 40px 40px;
  background-color: #ffffff;
  justify-content: center;
  max-width: 40rem;
}

h1 {
  color: rgb(10, 10, 10);
  margin: 20px 36px;
}

.Hero--body > p {
  color: rgb(14, 13, 13);
  margin: 20px auto;
}
.Hero--collage {
  align-self: center;
  max-width: 400px;
}

/* dividing your common portions helps you in better style planning. 
So include sections in them.*/

/*===================== Card */
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  max-width: 40rem;
}

.bold {
  font-weight: bold;
}
.gray {
  color: darkgray;
}
.card--section {
  width: 175px;
  font-size: 12px;
  margin: auto .4rem;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  display: flex;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  width: 15px;
}

.card--badge {
  position:absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}